body{
    background: rgba(170,170,170,0.2) url("logo.png") no-repeat center center fixed;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

a{
    color:#9BDDFF;
}

.left,.right{
    border:1px solid rgba(38,38,38,0.3);
    float:left;
    width: 42.5vw;
    overflow:hidden;
    padding-left:5%;
    padding-top:2%;
    height:50vh;
    border-radius:18px;
    margin-top:5%;
    background-color:rgba(255,255,255,0.9);
}

.left{
    margin-left:5%;
}
.right{
    margin-left:5%;
}

.button{
    color:#262626;
    border:none;
    padding: 2% 5%;
    background-color:#C1EAFF;
}

input[type=text],
input[type=password],
input[type=number]{
      background-color: white;
      padding: 10px;
      padding-left: 40px;
      width: 300px;
      color: black;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      border: none;
}

.username {
      background: url("username.png") left center no-repeat;
      background-position:5%;
      
}

.password {
      background: url("password.png") left center no-repeat;
      background-position:5%;
      
}

.mission,.welcome,.pictures {
    margin: auto;
    width:90%;
    padding:2%;
}

.welcome{
    background-color:rgba(38,38,38,0.97);
    color:#F4F3F2;
}

.pictures{
    background-color:rgba(255,255,255,0.8);
}

.mission{
    background-color: rgba(63, 63, 123,0.75);
    color:#F4F3F2;
}

.about{
    padding:2%;
    font-size:large;
}