{% extends 'base.html' %}

{% block nav %}
<li><p class="navbar-text" style="color:#9BDDFF;">Welcome, Organization!</p></li>
<li><a href="/">Log Out</a></li>
{% endblock %}

{% block content %}



<div class="pictures">
    <h1>Check Your Latest Donations</h1>
</div>
<br>
<div class="pictures">
    {{ data_table | safe }}
    <!-- <h3>Example Data Table</h3> -->
    <!-- <table> -->
    <!--     <tr> -->
    <!--         <th> -->
    <!--             Time -->
    <!--         </th> -->
    <!--         <th> -->
    <!--             Name -->
    <!--         </th> -->
    <!--         <th> -->
    <!--             Amount -->
    <!--         </th> -->
    <!--         <th> -->
    <!--             Email -->
    <!--         </th> -->
    <!--     </tr> -->
    <!--     <tr> -->
    <!--         <td> -->
    <!--             May 1, 2016 -->
    <!--         </td> -->
    <!--         <td> -->
    <!--             Angela Chan -->
    <!--         </td> -->
    <!--         <td> -->
    <!--             $100 -->
    <!--         </td> -->
    <!--         <td> -->
    <!--             achan13@stuy.edu -->
    <!--         </td> -->
    <!--     </tr> -->
    <!--     <tr> -->
    <!--         <td> -->
    <!--             May 2, 2016 -->
    <!--         </td> -->
    <!--         <td> -->
    <!--             Leon Cheng -->
    <!--         </td> -->
    <!--         <td> -->
    <!--             $150 -->
    <!--         </td> -->
    <!--         <td> -->
    <!--             lcheng2@stuy.edu -->
    <!--         </td> -->
    <!--     </tr> -->
    <!--     <tr> -->
    <!--         <td> -->
    <!--             May 3, 2016 -->
    <!--         </td> -->
    <!--         <td> -->
    <!--             Randolph Higgins -->
    <!--         </td> -->
    <!--         <td> -->
    <!--             $200 -->
    <!--         </td> -->
    <!--         <td> -->
    <!--             rhiggins@stuy.edu -->
    <!--         </td> -->
    <!--     </tr> -->
    <!--     <tr> -->
    <!--         <td> -->
    <!--             May 4, 2016 -->
    <!--         </td> -->
    <!--         <td> -->
    <!--             Dillon Zhang -->
    <!--         </td> -->
    <!--         <td> -->
    <!--             $250 -->
    <!--         </td> -->
    <!--         <td> -->
    <!--             dzhang4@stuy.edu -->
    <!--         </td> -->
    <!--     </tr> -->
    <!-- </table> -->
</div>
{% endblock %}
