{% extends 'base.html' %}

{% block content %}

<div class="welcome">
    <h1>Welcome to Direct Donation!</h1>
</div>
<div class="pictures">
    <h1>I would really like for some pictures to go here in like a slideshow/carousel kinda thing.
    I saw it a tutorial for it on the internet somewhere.</h1>
</div>
<div class="mission">
    <h1 class="move-up">What is Direct Donation?</h1>
    <p class="about">
        Our mission here at Direct Donation is to help private organizations keep track of their donations.
        Direct Donation requires that the user inputs the organizations PayPal information. Using this
        account, Direct Donation will create a list of emails to send to each of the donators. The email
        that will be sent can either be input in the user's account settings or can follow a default
        "Thank You" message format. These emails can be edited to add a personal touch before sending.
        Direct Donation's email feature can also be used to send follow-up emails to donators. These
        emails can be set to be sent out at specific time intervals (e.g. once per year, once every
        six months, etc.). These emails can be, for example, reminders to donate or expressions of
        appreciation.
    </p>
</div>

{% endblock %}