{% extends 'base.html' %}

{% block title %}Log In{% endblock %}


{% block login %}#{% endblock %}

{% block content %}

    <div class="left">
        <h1>Log In</h1>
        <br><br>
        <form method="POST">
            <input type="text" name="username" class="username" placeholder="Username (e.g. JohnDoe123)">
            <br><br>
            <input type="password" name="password" class="password" placeholder="Password (e.g. *********)">
            <br><br>
            <input type="submit" value="Log In" class="button">
        </form>
    </div>
    <div class="right">
        <h1>Sign Up</h1>
        <br>
        <form method="POST">
            <input type="text" name="new_username" class="username" placeholder="Username (e.g. JohnDoe123)">
            <br><br>
            <input type="text" name="email" class="email" placeholder="Email (e.g. johndoe123@email.com)">
            <br><br>
            <input type="text" name="ppun" class="username" placeholder="Paypal Username (e.g.JohnDoe123)">
            <br><br>
            <input type="password" name="ppp" class="password" placeholder="Paypal Password (e.g. *********)">
            <br><br>
            <input type="text" name="ppsig" class="username" placeholder="Paypal Signature">
            <br><br>
            <input type="password" name="new_password" class="password" placeholder="Password (e.g. *********)">
            <br><br>
            <input type="password" name="repeat" class="password" placeholder="Repeat Password">
            <br><br>
            <input type="submit" value="Sign Up" class="button">
        </form>
    </div>

{% endblock %}